.logo {
  display: none;
}

.logo__link {
  display: flex;
  align-items: center;

  font-family: var(--f-serif);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.logo__img {
  margin-inline-end: 0.75rem;
  background-color: var(--accent);
  color: white;
  border-radius: var(--radius-sm);
}

.logo__txt-highlight {
  font-style: 1;
  line-height: inherit;
  color: var(--accent);
  font-style: italic;
}

@container page-container (width > 768px) {
  .logo {
    display: block;
  }
}
